<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Time's up</title>
        <link rel="stylesheet" href="styles/block-window.css">
        <script src="../block-window-renderer.js"></script>
    </head>
    <body>
        <div class="container">
            <h1>Time's up!</h1>
            <form id="retrospect-form">
                <textarea id="retrospect" rows="4" autofocus placeholder="What did you accomplish?"></textarea>
                <span id="error-msg" class="error-msg"></span>
                <button type="submit" class="submit-btn">Submit</button>
            </form>
        </div>
    </body>
</html>
