<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="styles/tray-window.css">
        <script src="../tray-window-renderer.js"></script>
    </head>
    <body>
        <div class="container">
            <form id="time-form">
                <div class="form-row">
                    <input type="number" id="time" min="1" max="180" step="1" autofocus placeholder="Min">
                    <button type="submit" id="submit_btn" class="submit-btn">
                        <img src="../res/img/play-button.svg" id="btn_img" width="24" height="24">
                    </button>
                </div>
                <span id="error-msg" class="error-msg"></span>
            </form>
            <div class="presets">
                <button type="button" class="preset-btn" data-minutes="25">25m</button>
                <button type="button" class="preset-btn" data-minutes="50">50m</button>
                <button type="button" class="preset-btn" data-minutes="90">90m</button>
            </div>
            <div class="controls">
                <button type="button" id="stop-btn" class="icon-btn">
                    <img src="../res/img/stop.svg" width="22" height="22">
                </button>
                <button type="button" id="exit-btn" class="icon-btn">
                    <img src="../res/img/minus-circle.svg" width="22" height="22">
                </button>
            </div>
        </div>
    </body>
</html>
