<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="styles/tray-window.css">
        <script src="../tray-window-renderer.js"></script>
    </head>
    <body>
        <div class="container">
            <form id="time-form">
                <div class="form-row">
                    <input type="number" id="time" min="1" max="180" step="1" autofocus placeholder="Min">
                    <button type="submit" id="submit_btn" class="submit-btn">
                        <img src="../res/img/play-button.svg" id="btn_img" width="24" height="24">
                    </button>
                </div>
                <span id="error-msg" class="error-msg"></span>
            </form>
            <div class="presets">
                <button type="button" class="preset-btn" data-minutes="25">25m</button>
                <button type="button" class="preset-btn" data-minutes="50">50m</button>
                <button type="button" class="preset-btn" data-minutes="90">90m</button>
            </div>
            <div class="controls">
                <button type="button" id="settings-btn" class="icon-btn" title="Settings">
                    <svg width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="#ccc" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <circle cx="12" cy="12" r="3"></circle>
                        <path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1-2.83 2.83l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-4 0v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83-2.83l.06-.06A1.65 1.65 0 0 0 4.68 15a1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1 0-4h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 2.83-2.83l.06.06A1.65 1.65 0 0 0 9 4.68a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 4 0v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 2.83l-.06.06A1.65 1.65 0 0 0 19.4 9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 0 4h-.09a1.65 1.65 0 0 0-1.51 1z"></path>
                    </svg>
                </button>
                <button type="button" id="stop-btn" class="icon-btn">
                    <img src="../res/img/stop.svg" width="22" height="22">
                </button>
                <button type="button" id="exit-btn" class="icon-btn">
                    <img src="../res/img/minus-circle.svg" width="22" height="22">
                </button>
            </div>
        </div>
    </body>
</html>
